<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="https://i.pinimg.com/originals/ed/83/a4/ed83a4cd98671f3223064039171b8982.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>Exercise</b> 2</h1>
              <h3 class="h2">Assignment User Authentication and RoleBased Access Control</h3>
              <p>
                Objective: Enhance your understanding of user authentication, session management, and
                role-based access control within a full-stack application.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


